<div class="card">
  <div class="card-header btn" id="headingOne" data-toggle="collapse" data-target="#qe-actor-picker" aria-expanded="false" aria-controls="collapseOne">
    <span class="editor-card-label">Actors</span>
  </div>      
  <div id="qe-actor-picker" class="collapse show" aria-labelledby="headingOne">
    <ul class="list-group">              
      <li class="list-group-item text-center">
        <div  class="float-none btn-group" role="group">
          <button type="button" class="btn btn-primary" (click)="buttons.actor.load()">Load</button>
        </div>
      </li>
    </ul>
  </div>
</div>