<div id="container">

  <div id="canvasContainer">
    <div id="isocanvas" #myIsoCanvas></div>
  </div>
    
  <div id="toolpanel">
    <!--Map-->
    <div class="card">
      <div class="card-header btn" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span style="color: rgb(37, 137, 204);">Map</span>
      </div>      
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
          <ul class="list-group">              
            <li class="list-group-item text-center">
              <div  class="float-none btn-group" role="group">
                <button type="button" class="btn btn-primary" (click)="buttons.map.new()">New</button>
                <button type="button" class="btn btn-primary" (click)="buttons.map.load()">Load</button>
                <button type="button" class="btn btn-primary" (click)="buttons.map.save()">Save</button>
              </div>
            </li>
          </ul>
      </div>
    </div>
    <!--Tools-->
    <div class="card">
      <div class="card-header btn" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <span style="color: rgb(37, 137, 204);">Tools</span>
      </div>      
      <div id="collapseFour" class="collapse show" aria-labelledby="headingFour">
        <app-toolpicker #myToolpicker></app-toolpicker>
      </div>
    </div>
    <!--Tiles-->
    <div class="card">
      <div class="card-header btn" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span style="color: rgb(37, 137, 204);">Tiles</span>
      </div>      
      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree">
        <app-tilepicker [(tileset)]="myTileset" (newTilesetLoaded)="newTilesetLoaded()" #myTilepicker></app-tilepicker>
      </div>
    </div>
  </div>

</div>

  
