<div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="text-center w-100">Load Tileset</h4>
    </div>
    <div class="modal-body">
      <select class="form-control" [(ngModel)]="selected">
        <option value="Upload a custom tile set">Upload a custom tile set</option>
        <option *ngFor="let t of tilesetList">{{ t }}</option>
      </select>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn w-100" (click)="activeModal.close(selected)">Select</button>
        <button type="button" class="btn w-100" (click)="activeModal.dismiss('Cancelled')">Cancel</button>
      </div>
    </div>
</div>
