<div style="width:100%; bottom: 0px; top: 57px; position:absolute; overflow-y: scroll;">
  <div style="left: 50px; right: 50px; top: 50px; border-radius: 10px; border-style: solid; padding:40px; border-color:lightgray; position: absolute;">

    <h1 class="text-center">Register</h1>
    <hr/>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

      <!--id-->
      <div class="form-group" hidden="true">
        <input type="text" class="form-control" name="id" ngModel>
      </div>
  
      <!--username-->
      <div class="form-group">
        <h5 class="text-center">Username</h5>
        <ul class="list-unstyled">
          <li><input type="text" class="form-control" name="name" placeholder="Enter a username" (ngModelChange)="validateUsername(registerForm)" [disabled]="msg" ngModel></li>
          <li class="list-group-item list-group-item-danger" *ngFor="let e of usernameErrors">{{ e }}</li> 
          <li *ngIf="!usernameErrors.length && usernameChanged" class="list-group-item list-group-item-success">Username OK!</li>
        </ul>
      </div>
  
      <!--email-->
      <div class="form-group">
        <h5 class="text-center">Email</h5>
        <ul class="list-unstyled">
          <li><input type="text" class="form-control" name="email" placeholder="Enter an email" (ngModelChange)="validateEmail(registerForm)" [disabled]="msg" ngModel></li>
          <li class="list-group-item list-group-item-danger" *ngFor="let e of emailErrors">{{ e }}</li>      
          <li *ngIf="!emailErrors.length && emailChanged" class="list-group-item list-group-item-success">Email OK!</li>
        </ul>
      </div>
  
      <!--password-->
      <div class="form-group">
        <h5 class="text-center">Password</h5>
        <ul class="list-unstyled">
          <li><input type="text" class="form-control" name="password" placeholder="Enter a password" (ngModelChange)="validatePassword(registerForm)" [disabled]="msg" ngModel></li>     
          <li class="list-group-item list-group-item-danger" *ngFor="let e of passwordErrors">{{ e }}</li>
          <li *ngIf="!passwordErrors.length && passwordChanged" class="list-group-item list-group-item-success">Password OK!</li>
        </ul>
      </div>
  
      <div class="text-center">
        <button type="submit" class="btn btn-primary" 
        [disabled]="usernameErrors.length || !usernameChanged ||
                    emailErrors.length || !emailChanged ||
                    passwordErrors.length || !passwordChanged">
                    Submit
        </button>
      </div>
    </form>

    <hr/>
    <div *ngIf="msg?.success" class="p-3 mb-2 bg-success text-white text-center">
      {{ msg.message }}
    </div>
    <div *ngIf="msg && !msg.success" class="p-3 mb-2 bg-danger text-white text-center">
      {{ msg.message }}
    </div>
  </div>
</div>
