.bkg-crossfader {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 21, 22);
  position: absolute;
  z-index: -3;
}

.bkg-crossfader-img {
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  z-index: -2;
}

.bkg-crossfader-img.transparent {
  opacity: 0;
}