<div class="room-create-main">
  <img class="room-create-bkg" [src]="imgPath + imgNum.toString() + '.jpg'">
  <div class="card text-center room-create-card">
    <div class="card-header">
      <h1 class="text-white font-weight-bold">rpgParty</h1>
    </div>
    <h5 class="text-white font-weight-bold">JOIN ON YOUR PHONE OR TABLET</h5>
    <div class="card-body room-create-card-body-parent">
      <div class="room-create-card-body-child">
        <h6 class="text-white font-weight-bold">CHOOSE YOUR QUEST</h6>
        <div class="card text-center room-create-room-code-card">
          <h5 class="text-danger">No Quest Loaded</h5>
          <button class="btn btn-primary">LOAD QUEST</button>
        </div>
      </div>      
    </div>
    <div class="card-footer">
      <h6 class="text-white font-weight-bold">YOUR ROOM CODE IS</h6>
      <div class="card text-center room-create-room-code-card">
        <h1 class="text-warning font-weight-bold">DCWJ</h1>
      </div>
    </div>    
  </div>
</div>
<div class="room-create-queue">
  <ul class="list-group room-create-player-list">
    <li class="list-group-item text-center room-create-list-item">
      <div class="room-create-login-list-item">
        <h6 class="text-white font-weight-bold align-self-center">login to play!</h6>
      </div>
    </li>
    <li class="list-group-item text-center room-create-list-item">
      <div class="room-create-login-list-item">
        <h6 class="text-white font-weight-bold align-self-center">login to play!</h6>
      </div>
    </li>
    <li class="list-group-item text-center room-create-list-item">
      <div class="room-create-login-list-item">
        <h6 class="text-white font-weight-bold align-self-center">login to play!</h6>
      </div>
    </li>
    <li class="list-group-item text-center room-create-list-item">
      <div class="room-create-login-list-item">
        <h6 class="text-white font-weight-bold align-self-center">login to play!</h6>
      </div>
    </li>
    <li class="list-group-item text-center room-create-list-item">
      <div class="room-create-login-list-item">
        <h6 class="text-white font-weight-bold align-self-center">login to play!</h6>
      </div>
    </li>
    <li class="list-group-item text-center room-create-list-item">
      <div class="room-create-login-list-item">
        <h6 class="text-white font-weight-bold align-self-center">login to play!</h6>
      </div>
    </li>
    <li class="list-group-item text-center room-create-list-item">
      <div class="room-create-login-list-item">
        <h6 class="text-white font-weight-bold align-self-center">login to play!</h6>
      </div>
    </li>
    <li class="list-group-item text-center room-create-list-item">
      <div class="room-create-login-list-item">
        <h6 class="text-white font-weight-bold align-self-center">login to play!</h6>
      </div>
    </li>
  </ul>   
</div>

