<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >rpgParty</a>
  
  <!--Hamburger-->
  <button id="navbar-hamburger" class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed">
    <!--Left-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="delayedCollapse()">Play</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item"  [routerLink]="['/tileseteditor']" routerLinkActive="router-link-active" (click)="delayedCollapse()">Tileset Editor</a>
          <a class="dropdown-item"  [routerLink]="['/mapeditor']" routerLinkActive="router-link-active" (click)="delayedCollapse()">Map Editor</a>
          <a class="dropdown-item"  [routerLink]="['/']" routerLinkActive="router-link-active" (click)="delayedCollapse()">Character Editor</a>
        </div>
      </li>
    </ul>
    <!--Right-->
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active" (click)="delayedCollapse()" *ngIf="!_authService.isLoggedIn()">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" (click)="delayedCollapse()" *ngIf="!_authService.isLoggedIn()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout" routerLinkActive="active" (click)="delayedCollapse()" *ngIf="_authService.isLoggedIn()" (click)="onLogout()">Logout</a>
      </li>
    </ul>   
  </div>
</nav>